html
	head
		title TTFU BOT Administration Panel
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		style
			include ../style/main.css
	body
		div#header
			include menu.pug
		
		div.container.s12.m6
			.row
			block content
			
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
		
		script.
			
			$(document).ready(function(){
				$('.modal').modal();
			});

			$('#deleteMatchBtn').on('click', function() {
				$.ajax({
					type: 'DELETE',
					url: '/match',
					success: function(res) {
						location.reload();
					}
				})
			})

			$('#removeLogsBtn').on('click', function() {
				$.ajax({
					type: 'DELETE',
					url: '/log',
					success: function(res) {
						location.reload();
					}
				})
			})
			
			$('#bcastBtn').on('click', function() {
				$.ajax({
					type: 'POST',
					url: '/broadcast',
					data: {
						message: $('#bcastInput').val(),
						allUsers: $('#allUsersChbox').is(':checked')
					},
					success: function(res) {
						console.log('Broadcasted successfuly !')
					}
				})
			})

			$('.deleteMatchUserBtn').on('click', function(e) {
				$.ajax({
					type: 'DELETE',
					url: '/match/user',
					data: {userid: e.target.getAttribute('data-userid')},
					success: function(res) {
						location.reload();
					}
				})
			})

			$('.sendMatchRequestBtn').on('click', function(e) {
				$.ajax({
					type: 'POST',
					url: '/match/request',
					data: {userid: e.target.getAttribute('data-userid')},
					success: function(res) {
						location.reload();
					}
				})
			})
