- 
	var menu = [
		{
			title: 'Home',
			subtitle: '',
			url: '/',
			icon: 'home'
		},
	{
			title: 'Users',
			subtitle: '',
			url: '/user',
			icon: 'supervisor_account'
		},
		{
			title: 'Match',
			subtitle: '',
			url: '/match',
			icon: 'view_agenda'
		},
		{
			title: 'Log',
			subtitle: '',
			url: '/log',
			icon: 'find_in_page'
		},
		{
			title: 'Logout',
			subtitle: '',
			url: '/logout',
			icon: 'exit_to_app'
		}
	]
	var active = menu[0];

nav
	.nav-wrapper.red
			a(href='/', class='brand-logo')
				span(style='margin-left: 10px; display: block')
					i.material-icons toys
					span= APP_TITLE
			ul(class='right')
				each item in menu
					li
						a(href=`${item.url}`)
							i.material-icons= item.icon
		
	