extends includes/layout.pug		

//- Content
block content

	//- Modal
	div#logViewModal.modal.modal-fixed-footer
		.modal-content
			h5 Log View
				.row
					p#logContent

	.card
		.card-content
			div.card-title Log Management
			p
				if data
					table.highlight
						thead
							tr
								th(data-field='id') Id
								th(data-field='user') User
								th(data-field='action') Action
								th(data-field='action')
						tbody
							if data && data.length > 0
								each log in data
									- log = JSON.parse(log);
									tr
										td= log.id
										td= log.user
										td= log.action
										td
											i.logViewBtn.actionbtn.material-icons(data-target='logViewModal', data-logid=log.id) remove_red_eye
				else
					include includes/empty.pug
	.fixed-action-btn
		button#removeLogsBtn(class="btn-floating btn-large waves-effect waves-light red")
			i(class="material-icons") delete